@charset "UTF-8";
@import url(reset.css);

body {
    font-family: 'Roboto', sans-serif; /* ウェブサイト全体に適用 */
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* 任意の背景色 */
    transition: opacity 0.5s ease; /* オパシティのトランジション */
}
/* 外側のコンテナのスタイリング */
#outer-container {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

/* ローディングコンテナのスタイリング */
/* #outer-container {

    background-color: #ccc;
} */
#loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

/* テキストコンテナのスタイリング */
#text-container {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content; /* コンテンツに合わせて幅を調整 */
    z-index: 10; 
}

/* visualのラッパーのスタイリング */
#visual-wrapper {
    width: auto; /* visual要素の幅を自動に設定 */
    overflow: hidden; /* はみ出た内容を隠す */
    position: absolute; /* 絶対位置指定 */
    left: 100%; /* Kの右端からスタート */
    white-space: nowrap; /* 改行を防ぐ */
}

#visual {
    display: none;
    font-size: 5em;
    position: relative; /* 相対位置指定 */
    left: 0; /* 初期位置を親要素の端に設定 */
    margin-left: 10px;
}


/* ローディング要素のスタイリング */
#loading {
    font-size: 5em;
    visibility: visible;
    /* animation: bounceIn 1.5s ease-in-out forwards; アニメーションを適用 */
}

/* @keyframes bounceIn {
    0% {
        transform: translateY(100%); /* 画面下からスタート */
    /* } */
    /* 30% { */
        /* transform: translateY(-10%); 小さく跳ねる */
    /* } */
    /* 100% { */
        /* transform: translateY(0); 元の位置に戻る */
    /* } */
/* } */ 
#frame {
    stroke-dasharray: 1200;  /* 長方形の周囲の長さ */
    stroke-dashoffset: 1200; /* 初期状態で線が見えないように全周分オフセット */
    animation: draw-frame 3s linear forwards; /* 2秒で描画、アニメーションは線形に */
}

@keyframes draw-frame {
    to {
        stroke-dashoffset: 0; /* 終了時に線が完全に見えるように */
    }
}
@media (max-width: 768px) {
    svg {
        transform: translate(-50%, -50%) scale(0.4); /* モバイルデバイスのためにサイズを縮小 */
    }
  
}

@media (max-width: 480px) {
    svg {
        transform: translate(-50%, -50%) scale(0.2); /* 更に小さいデバイスでさらに縮小 */
    }
  
}
/* ベーススタイル */
#text-container {
    font-size: clamp(6px, 1vw, 20px); /* デフォルトのフォントサイズ */
    fill: #333; /* テキストカラー */
}
svg {
    color: #fff;
}
/* タブレットサイズのデバイスに対応 */
.backcolor {
    background-color: #cc6464;
}
svg:hover {
    cursor: pointer;  /* ホバー時にカーソルをポインタに変更 */
    opacity: 0.8;     /* ホバー時に透明度を下げる */
}

svg rect:hover {
    fill: rgb(255, 255, 255);        /* ホバー時にrect要素の塗りつぶし色を赤に変更 */
}
svg rect:active {
    fill: rgb(255, 255, 255);        /* ホバー時にrect要素の塗りつぶし色を赤に変更 */
}