.content {
    max-width: 100%;
}

.content .inner {
    max-width: 100%;
    margin: 0 100px;
    margin-top: 50px;
}

.content .inner ul{
    display: flex;
    justify-content: space-between;
}

.content .inner ul li{
    list-style: none;
}

.content .inner ul li a{
    color: #000000;
    text-decoration: none;
    margin: 0 2px;
} 

.content .inner ul li h2{
    font-weight: 12;
}

.content .inner ul li a:hover{
    color:#cccccc;
}

.table {
    background-image: url(/image/pcphot.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    max-width: 100%;
    margin: 0 100px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.table .grop{
    flex-basis: 40%;
    margin: 0 50px;
}

.table .desktop {
    flex-basis: 40%;
    margin: 0 50px;
}
.table p{
    line-height: 1.5;
}





.table h2{
    border: 1px solid #03c;
    color: #03c;
    padding: 10px;
    margin: 10px 0 ;
    border-radius: 8px;
    font-weight:9;
    width: 80px;
    text-align: center;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

@media screen and (max-width:768px){
    .content .inner {
        max-width: 100%;
        margin: 0 10px;
        margin-top: auto;
        margin-bottom: 50px;
    }
    
    .content .inner ul{
        display: flex;
        flex-direction: column;
    }
    
    .content .inner ul li{
        list-style: none;
        display: flex;
        justify-content: flex-start;
        padding: 5px;
    }
    
    .content .inner ul li a{
        margin-right: 20px;
        font-size: 20px;
        margin-bottom: 30px;
    } 

    .table {
        margin: 0 10px;
    }

    .table .grop{
        flex-basis: auto;
        margin: 0 50px;
        text-align: center;
    }
    
    .table .desktop {
        flex-basis: auto;
        margin: 0 50px;
        text-align: center;
    }

    .table p{
        text-align: left;
        font-size: 30%;
    }
}